<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Weather App</h1>
        <form method="POST">
            <input type="text" name="city" placeholder="Search" required>
            <button type="submit">&#x1F50D</button>
        </form>
        
        {% if weather %}
            <div class="weather-info">
                <h2>{{ weather.city }}</h2>
                <h3>{{ weather.description }}</h3>
                <img src="http://openweathermap.org/img/wn/{{ weather.icon }}@2x.png" alt="weather icon">
                <h4>{{ weather.temperature }} °C</h4>
                <h5> 
                    <img src="../static/humid.png" style="width:25px;height:25px;">
                    {{weather.humidity}} %
                     <br>Humidity </br>
                </h5>
                <h6> 
                    <img src="../static/wind.png" style="width:50px;height:50px;">
                    {{weather.wind}} mph
                    <br> &nbsp; Wind Speed </br>
                </h6>
            </div>
        {% elif error %}
            <p class="error">{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>